{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro esse itaque corrupti officia beatae, qui est amet illo similique. Blanditiis sunt reprehenderit cumque, laboriosam impedit voluptate voluptatem natus nostrum iure!

    </p>
    <p>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, beatae. Dignissimos officiis fugiat tempore dolore laboriosam, omnis nesciunt tenetur rem molestiae delectus molestias magnam maxime eligendi provident! Corporis, voluptates? Molestiae! 
    </p>
</div>

{% endblock content %}